<nav class="nav navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">Angular Practice</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="#" (click)="onSelect('servers-server')">Servers</a></li>
                <li><a href="#" (click)="onSelect('server-element-cockpit')">Server-Element & Cockpit</a></li>
                <li><a href="#" (click)="onSelect('game-control-odd-even')">Game-Control, Odd, & Even</a></li>
                <li><a href="#" (click)="onSelect('account-new-account')">Account & New Account</a></li>
                <li><a href="#" (click)="onSelect('active-users-inactive-users')">Active Users & Inactive Users</a></li>
                <li><a href="#" (click)="onSelect('home-router-users-router-servers-router')">Home Users Servers Router</a></li>
                <li><a href="#" (click)="onSelect('home-user-observable')">Home User Observable</a></li>
                <li><a href="#" (click)="onSelect('form-container')">Form Template Driven Container</a></li>
                <li><a href="#" (click)="onSelect('form-reactive-container')">Form Reactive Approach Container</a></li>
                <li><a href="#" (click)="onSelect('pipes-container')">Pipes Container</a></li>
            </ul>
        </div>
    </div>
</nav>