<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" ngModel name="username" id="username" class="form-control" required>
                    </div>
                    <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest a Username</button>
                    <div class="form-group">
                        <label for="email">Mail</label>
                        <input type="email" ngModel name="email" id="email" class="form-control" required email #email="ngModel">
                        <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                    </div>
                </div>
                <p *ngIf="!userData.valid && userData.touched">User data is invalid!</p>
                <div class="form-group">
                    <label for="secret">Secret Questions</label>
                    <select name="secret" [ngModel]="defaultQuestion" id="secret" class="form-control">
                        <option value="pet">Your first pet?</option>
                        <option value="teacher">Your first teacher?</option>
                    </select>
                </div>
                <div class="form-group">
                    <textarea name="questionAnswer" rows="3" [(ngModel)]="answer" class="form-control"></textarea>  
                </div>
                <p>Your reply: {{ answer }}</p>
                <div class="radio" *ngFor="let gender of genders">
                    <label>
                        <input type="radio" name="gender" ngModel required [value]="gender">{{ gender }}
                    </label>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isSubmitted">
        <div class="col-xs-12">
            <h3>Your Data</h3>
            <p>Username: {{ user.username }} </p>
            <p>Mail: {{ user.email }}</p>
            <p>Secret Question: Your first {{ user.secretQuestion }}</p>
            <p>Answer: {{ user.answer }}</p>
            <p>Gender: {{ user.gender }}</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <h3>Assignment: Form - Template driven approach</h3>
            <form (ngSubmit)="onSubmitForm()" #f2="ngForm">
                <div class="form-group">
                    <label for="email2">Mail</label>
                    <input type="email" id="email2" class="form-control" ngModel name="email2" required email #email2="ngModel">
                    <span class="help-block" *ngIf="!email2.valid && email2.touched">Please enter a valid email!</span>
                </div>
                <div class="form-group">
                    <label for="subscription">Choose a Subscription</label>
                    <select name="subscription" id="subscription" class="form-control" [ngModel]="defaultSubscription">
                        <option *ngFor="let subscription of subscriptions" [value]="subscription">{{ subscription }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" class="form-control" required ngModel name="password" #password="ngModel">
                    <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
                </div>
                <p *ngIf="!f2.valid && f2.touched">Warning! Form is invalid! Kindly update with correct data.</p>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <hr>
    <div class="row" *ngIf="isAssignmentSubmitted">
        <div class="col-xs-12">
            <h3>Your data from assignment form</h3>
            <p>Email: {{ assignmentData.email }}</p>
            <p>Subscription: {{ assignmentData.subscription }}</p>
            <p>Password: {{ assignmentData.password }}</p>
        </div>
    </div>
</div>
