<app-header (featureSelected)="showFeature($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>{{ title }} app is running! SUCCESS!!!</h3>
            <hr>
            
            <app-server-element-cockpit-container *ngIf="loadedFeature === 'server-element-cockpit'"></app-server-element-cockpit-container>
            <app-game-control-odd-even-container *ngIf="loadedFeature === 'game-control-odd-even'"></app-game-control-odd-even-container>
            <app-servers-server-container *ngIf="loadedFeature === 'servers-server'"></app-servers-server-container>
            <app-account-new-account-container *ngIf="loadedFeature === 'account-new-account'"></app-account-new-account-container>
            <app-active-users-inactive-users-container *ngIf="loadedFeature === 'active-users-inactive-users'"></app-active-users-inactive-users-container>
            <app-home-router-users-router-servers-router *ngIf="loadedFeature === 'home-router-users-router-servers-router'"></app-home-router-users-router-servers-router>
            <app-home-user-observable-container *ngIf="loadedFeature === 'home-user-observable'"></app-home-user-observable-container>
            <app-form-container *ngIf="loadedFeature === 'form-container'"></app-form-container>
            <app-form-reactive-container></app-form-reactive-container>
        </div>
    </div>
</div>
